<VirtualHost *:80>
   ServerName {{ app['name'] }}
   Redirect permanent / https://{{ app['name'] }}/
</VirtualHost>

<VirtualHost *:443>
  ServerName {{ app['name'] }}

  SSLEngine on

  SSLCertificateFile {{ app['cert'] }}
  SSLCertificateKeyFile {{ app['key'] }}

  {% if app['hsts'] %}Header always set Strict-Transport-Security "max-age=63072000; includeSubDomains" {% endif %}

  <IfModule mod_auth_gssapi.c>
    <Location />
      AuthName "Restricted Access"
      AuthType GSSAPI
      {% if apache_kerberos_windows_compat %}BrowserMatch Windows gssapi-no-negotiate{% endif %}

      {% if gssapi_connection_bound %}GssapiConnectionBound On{% endif %}

      GssapiCredStore keytab:{{ apache_revproxy_basedir }}/krb.keytab
      GssapiAcceptorName HTTP@{{ ansible_facts['fqdn'] }}
      GssapiLocalName On
      GssapiBasicAuth {% if app['krb_passwd'] %}On{% else %}Off{% endif %}

      GssapiAllowedMech krb5
      {% if app['hbac_service'] is defined %}
      require pam-account {{ app['hbac_service'] }}
      {% else %}
      require valid-user
      {% endif %}
    </Location>
  </IfModule>

  RedirectMatch ^/$ /dokuwiki/
  AliasMatch ^/dokuwiki/sites/[^/]+$      /usr/share/dokuwiki/
  AliasMatch ^/dokuwiki/sites/[^/]+/(.*)$ /usr/share/dokuwiki/$1
  Alias      /dokuwiki                    /usr/share/dokuwiki/

  <Directory /usr/share/dokuwiki/>
    Options +FollowSymLinks
    require all granted
      <IfModule mod_rewrite.c>
         RewriteEngine on
         RewriteBase /dokuwiki
         RewriteRule ^lib                      - [L]
         RewriteRule ^doku.php                 - [L]
         RewriteRule ^feed.php                 - [L]
         RewriteRule ^install.php              - [L]
         RewriteRule ^_media/(.*)              lib/exe/fetch.php?media=$1  [QSA,L]
         RewriteRule ^_detail/(.*)             lib/exe/detail.php?media=$1 [QSA,L]
         RewriteRule ^_export/([^/]+)/(.*)     doku.php?do=export_$1&id=$2 [QSA,L]
         RewriteRule ^$                        doku.php  [L]
         RewriteRule (.*)                      doku.php?id=$1  [QSA,L]
      </IfModule>
  </Directory>

  <Directory /usr/share/dokuwiki/bin>
          Require all denied
  </Directory>

  <Directory /var/lib/dokuwiki/data>
          Require all denied
  </Directory>

  ErrorLog {{ apache_revproxy_logdir }}/{{ app['name'] }}_error.log
  CustomLog {{ apache_revproxy_logdir }}/{{ app['name'] }}_access.log common
</VirtualHost>
