# {{ ansible_managed }}
ServerRoot "{{ apache_revproxy_basedir }}"

Listen 80
Listen 443 https

{% if ansible_facts['os_family'] == 'RedHat' %}
Include {{ apache_revproxy_moduledir }}
{% elif ansible_facts['os_family'] == 'Debian' %}
IncludeOptional mods-enabled/*.load
IncludeOptional mods-enabled/*.conf
{% endif %}

User {{ apache_revproxy_service_user }}
Group {{ apache_revproxy_service_user }}
ServerAdmin root@localhost

ErrorLog "{{ apache_revproxy_logdir }}/error_log"
LogLevel warn

<IfModule log_config_module>
    LogFormat "%h %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\"" combined
    LogFormat "%h %l %u %t \"%r\" %>s %b" common

    <IfModule logio_module>
      # You need to enable mod_logio.c to use %I and %O
      LogFormat "%h %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\" %I %O" combinedio
    </IfModule>

    CustomLog "{{ apache_revproxy_logdir }}/access_log" combined
</IfModule>

<IfModule mime_module>
    TypesConfig /etc/mime.types

    AddType application/x-compress .Z
    AddType application/x-gzip .gz .tgz

    AddType text/html .shtml
    AddOutputFilter INCLUDES .shtml
</IfModule>

AddDefaultCharset UTF-8

<IfModule mime_magic_module>
    MIMEMagicFile conf/magic
</IfModule>

<IfModule ssl>
    SSLCipherSuite {{ apache_ssl_ciphers }}
    SSLProtocol -all {{ apache_ssl_protocols }}
    SSLHonorCipherOrder On
    Header always set X-Frame-Options DENY
    Header always set X-Content-Type-Options nosniff
    SSLCompression off
    SSLUseStapling on
    SSLStaplingCache "shmcb:logs/stapling-cache(150000)"
    SSLSessionTickets Off
</IfModule>

EnableSendfile on
IncludeOptional sites-enabled/*.conf
