<VirtualHost *:80>
   ServerName {{ app['name'] }}
   Redirect permanent / https://{{ app['name'] }}/
</VirtualHost>

<VirtualHost *:443>
  ServerName {{ app['name'] }}

  SSLEngine on

  SSLCertificateFile {{ app['cert'] }}
  SSLCertificateKeyFile {{ app['key'] }}

  AddDefaultCharset UTF-8
  ScriptAlias / /opt/rt5/sbin/rt-server.fcgi/
  DocumentRoot "/opt/rt5/share/html"

  <IfModule mod_auth_gssapi.c>
    <Location />
      AuthName "Restricted Access"
      AuthType GSSAPI
      {% if apache_kerberos_windows_compat %}BrowserMatch Windows gssapi-no-negotiate{% endif %}

      {% if gssapi_connection_bound %}GssapiConnectionBound On{% endif %}

      GssapiCredStore keytab:{{ apache_revproxy_basedir }}/krb.keytab
      GssapiAcceptorName HTTP@{{ ansible_facts['fqdn'] }}
      GssapiLocalName On
      GssapiBasicAuth {% if app['krb_passwd'] %}On{% else %}Off{% endif %}

      GssapiAllowedMech krb5
      {% if app['hbac_service'] is defined %}
      require pam-account {{ app['hbac_service'] }}
      {% else %}
      require valid-user
      {% endif %}

      Options +ExecCGI
      AddHandler fcgid-script fcgi
    </Location>
  </IfModule>

  <Location /REST/1.0/NoAuth/mail-gateway>
     Require local
  </Location>

  ErrorLog {{ apache_revproxy_logdir }}/{{ app['name'] }}_error.log
  CustomLog {{ apache_revproxy_logdir }}/{{ app['name'] }}_access.log common
</VirtualHost>
