#
# Zabbix monitoring system php web frontend
# {{ ansible_managed }}
#
<VirtualHost *:80>
   ServerName {{ app['name'] }}
   Redirect permanent / https://{{ app['name'] }}
</VirtualHost>

<VirtualHost *:443>
  ServerName {{ app['name'] }}
  SSLEngine on
  SSLCertificateFile {{ app['cert'] }}
  SSLCertificateKeyFile {{ app['key'] }}

  {% if app['hsts'] %}Header always set Strict-Transport-Security "max-age=63072000; includeSubDomains" {% endif %}

  <Location />
    AuthName "Restricted Access"
    AuthType GSSAPI
    GssapiCredStore keytab:{{ apache_revproxy_basedir }}/krb.keytab
    GssapiAcceptorName HTTP@{{ ansible_facts['fqdn'] }}
    GssapiLocalName On
    GssapiBasicAuth On  # Required to allow zabbix-cli to log in
    {% if apache_kerberos_windows_compat %}BrowserMatch Windows gssapi-no-negotiate{% endif %}

    {% if gssapi_connection_bound %}GssapiConnectionBound On{% endif %}

    GssapiAllowedMech krb5
    {% if app['hbac_service'] is defined %}
    require pam-account {{ app['hbac_service'] }}
    {% else %}
    require valid-user
    {% endif %}

  </Location>

  RedirectMatch ^/$ /zabbix/
  RedirectMatch ^/img/(.*)$ /zabbix/assets/img/$1
  Alias /zabbix /usr/share/zabbix

  ProxyTimeout 300

  <Directory "/usr/share/zabbix">
      Options FollowSymLinks
      AllowOverride None
      Order allow,deny
      Allow from all

      <IfModule mod_php.c>
          php_value max_execution_time 300
          php_value memory_limit 128M
          php_value post_max_size 16M
          php_value upload_max_filesize 2M
          php_value max_input_time 300
          php_value max_input_vars 10000
          php_value always_populate_raw_post_data -1
      </IfModule>

      <IfModule mod_php7.c>
          php_value max_execution_time 300
          php_value memory_limit 128M
          php_value post_max_size 16M
          php_value upload_max_filesize 2M
          php_value max_input_time 300
          php_value max_input_vars 10000
          php_value always_populate_raw_post_data -1
          # php_value date.timezone Europe/Riga
      </IfModule>
  </Directory>

  <Directory "/usr/share/zabbix/conf">
      Order deny,allow
      Deny from all
      <files *.php>
          Order deny,allow
          Deny from all
      </files>
  </Directory>

  <Directory "/usr/share/zabbix/app">
      Order deny,allow
      Deny from all
      <files *.php>
          Order deny,allow
          Deny from all
      </files>
  </Directory>

  <Directory "/usr/share/zabbix/include">
      Order deny,allow
      Deny from all
      <files *.php>
          Order deny,allow
          Deny from all
      </files>
  </Directory>

  <Directory "/usr/share/zabbix/local">
      Order deny,allow
      Deny from all
      <files *.php>
          Order deny,allow
          Deny from all
      </files>
  </Directory>

  <Directory "/usr/share/zabbix/vendor">
      Order deny,allow
      Deny from all
      <files *.php>
          Order deny,allow
          Deny from all
      </files>
  </Directory>
</VirtualHost>
